.head-main {
    width: 80%;
    margin: auto;
    min-height: 20vh;
    flex-wrap: wrap;
    @include flex(row, center, center);
    #logo {
        flex: 3 1 40rem;
        font-family: 'Curve';
        font-weight: 400;
        color: $logoColor;
    }
    nav {
        flex: 1 1 40rem;
        ul {
            transform: translateY(0%);
            @include flex(row, center, center);
            gap: 4rem;
            li {
                &:hover {
                    transform: translateY(-20%);
                    transition: 0.2s;
                }
                transition: 0.2s;
                margin-top: 0.5rem;
            }
        }
    }
}

.yourdreams {
    min-height: 20vh;
    background: #003E53;
    width: 100%;
    padding: 0% 5%;
    flex-wrap: wrap;
    @include flex(row, center, center);
    h1 {
        flex: 3 1 40rem;
        font-family: 'roboto';
        font-weight: 300;
        color: #ffff;
    }
    div {
        flex: 1 1 40rem;
        @include flex(row, center, center);
        button {
            padding: 2rem 4rem;
            font-size: $bigtext;
            font-family: sans-serif;
            border: none;
            background-color: #e4bc36;
            color: #ffff;
            font-weight: 600;
            transition: 0.5s;
            &:hover {
                background-color: #818a91;
                transition: 0.5s;
                cursor: pointer;
            }
        }
    }
}