.head-main {
    width: 80%;
    margin: auto;
    min-height: 20vh;
    flex-wrap: wrap;
    @include flex(row, center, center);
    #logo {
        flex: 3 1 40rem;
        font-family: 'Curve';
        font-weight: 400;
        color: $logoColor;
    }
    nav {
        flex: 1 1 40rem;
        ul {
            transform: translateY(0%);
            @include flex(row, center, center);
            gap: 4rem;
            li {
                &:hover {
                    transform: translateY(-20%);
                    transition: 0.2s;
                }
                transition: 0.2s;
                margin-top: 0.5rem;
            }
        }
    }
}